*{
  margin: 0 auto;
  padding: 0 auto;
}
body
{
	height: 768px;
}
.modal
{
	width:50%;
	height:100%;
	position:fixed;
	top:0;
	display:none;
}
.modal_close
{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	position:fixed;
	top:0;
}
.close
{
	cursor:pointer;
}
.modal_main
{
  width:44%;
	height:400px;
	background:#fff;
	z-index:4;
	position:fixed;
	top:16%;
	border-radius:4px;
	left:30%;
	display:none;
 -webkit-animation-duration: .5s;
    -webkit-animation-delay: .0s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
	    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(20px)}100%{opacity:1;-webkit-transform:translateX(0)}}



.formRegModal{
  width: 90%;
  height: 55%;

  margin-left:95px;
}
.formRegModal h3{
  text-align:center;
  color: #293ca6;
  font-family: Helvetica;
}
.name{
  float: right;
  width: 70%;
  height: 30px;
  margin-bottom: 20px;

  /*border radius*/
 border-radius: 4px;
}

/*label alignment start*/
label {
    display:block;
    position:relative;
    width: 100%;
    padding: 8px;
}
label span {
    font-weight:bold;
    position:absolute;
    font-family: Helvetica;
    left: 3px;
    width: 100%;
    padding: 8px
}
label input, label textarea, label select {
    margin-left: 120px;
    padding: 8px;
}
.input{
  width: 55%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  padding: 8px;
}
/*label alignment end*/
.submitRegBtn{
  margin-top: 5px;
  height: 50px;
  width: 78%;
  text-align: center;
  line-height: 50px;
  background-color: #293ca6;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 18px;
  border: none;


  /*border radius*/
   -moz-border-radius: 5px; /* Firefox */
   -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */

    -moz-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.4);
     -webkit-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.4);
     box-shadow: 0 4px 0px rgba(0, 0, 0, 0.4);

}

/*footer start*/
.footer{
  text-align: right;
  font-size: 12px;
  font-family: Helvetica;
  padding-bottom: 10px;

   position:fixed;
   bottom:0;
   width:1080px;
}
/*footer end*/

/*wrapper start*/
#wrapper{
  width: 1080px;
  height: 768px;
  background-image:url('../images/bg_index.jpg');
  background-repeat: top right no-repeat;
  background-position: center;
  }

  /*header start*/
.header{
  margin-top: 10px;
  width: 1080px;
}

.img{
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  width: 160px;
  height: 30px;
}

.loginText{
  float: right;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  color: #293ca6;
}

/*content start*/
.content{
  width: 800px;
  height: 385px;

  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.opacity{

  background-color: rgba(255,255,255,0.5);
  border: 0px  #FFFFFF;
  height: 50%;
  padding: 20px 10px 20px 10px;
  width: 100%
}

.content h3{
  font-size: 30px;
  color: #293ca6;
  text-align: center;
  font-family: Helvetica;
}
.content p{
  display: flex;
  justify-content:center;
  color: #555555;
  font-family: Helvetica;
  font-size: 18px;
}
.content a.hover{

}

.btn{
  display: flex;
  justify-content: center;
}

#reg{
  height: 60px;
  width: 250px;
  text-align: center;
  line-height: 60px;
  float: left;
  margin-right: -138px;
  background-color: #293ca6;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 18px;
  border-radius: 5px;
  border: none;


  -moz-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.4);
   box-shadow: 0 4px 0px rgba(0, 0, 0, 0.4);
}
.ong{
  height: 60px;
  width: 250px;
  float: left;
  text-align: center;
  line-height: 60px;
  background-color: #ff8400;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 18px;
  border-radius: 5px;
  border: none;

  /*shadow*/
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}


/* ------ Dropdown list */
.dropbtn {
    background-color: #ffffff;
    color: #293ca6;
    font-weight: bold;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;

    float: right;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #293ca6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    text-align: left;
}
.dropdown-content a:hover {background-color: #c2c9f0}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #d6dbf5;
}
.dropdown:hover .dropbtn {
    background-color: #d6dbf5;
    color: #293ca6;
}
